body {
	text-align:center;
	font-family: "Merriweather",sans-serif;
	background-color: #FBFBFB;
	font-size:1em;
}

.wrapper {
	max-width: 940px;
 	margin: 0 auto;
 	padding: 0 2%;
 	font-size:1em;
}


a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:#FFFF00;
}

/*Title on top of page, "BUZZIT-GENERATOREN"*/
#top {
	font-size:1em;
}

#answers {
	font-size:1.1em;
	margin: 20% auto;
	height:150px;
}

/*Title result, hidden*/
.hide {
  height: 0;
  opacity:0;
}

/*Title result when shown*/
.show {
  height:100%;
  opacity:1;
  width:90%;
}

/* Hidden button, waiting for JS to load*/
.hiddenButton {
	font-size:0.9em;
	display:block;
	margin:0 auto 15%;
	padding:10px 20px;
	opacity:0;
}
/* Button when visible*/
.button {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	background:#FFFF00;
	border-radius: 10px;
	margin: 0 auto 15%;
	display:block;
	border-color:black;
	padding:10px 20px;
	opacity:1;

}

.button:hover { 
	background:	#FFFF99; 
}

.button:focus {
	outline:0;
}


img {
	width:35px;
	height:35px;
}

footer {
	font-size: 0.9em;
	margin-bottom:0.5%;
	font-family: 'Open Sans', sans-serif;

}


