html, body {
	text-align:center;
	font-family: "Merriweather",sans-serif;
	background-color: #FBFBFB;
}

.wrapper {
	max-width: 940px;
 	margin: 0 auto;
 	padding: 0 2%;
}


a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:#FFFF00;
}

/*Title on top of page, "BUZZIT-GENERATOREN"*/
#top {
	font-size:20;
}

#answers {
	font-size:25;
	margin: 15% auto 50px auto;
}

/*Title result, hidden*/
.hide {
  height: 0;
  opacity:0;
}

/*Title result when shown*/
.show {
  height:100%;
  opacity:1;
  max-width:70%;
}

/* Hidden button, waiting for JS to load*/
.hiddenButton {
	font-size:15px;
	border-radius: 10px;
	display:block;
	margin:0 auto 15% auto;
	padding:10px 20px 10px 20px;
	opacity:0;
}
/* Button when visible*/
.button {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	background:#FFFF00;
	border-radius: 10px;
	margin:0 auto 15% auto;
	display:block;
	border-color:black;
	padding:10px 20px 10px 20px;
	opacity:1;

}

.button:hover { 
	background:	#FFFF99; 
}

.button:focus {
	outline:0;
}


img {
	width:35px;
	height:35px;
}

footer {
	font-size: 16px;
  	text-align: center;
	clear: both;
	margin-bottom:0.5%;
	font-family: 'Open Sans', sans-serif;

}

/*Change width of Buzzit title based on screen size*/
@media screen and (max-width: 480px) {
		.show {
			max-width:90%;
}
	}

	@media screen and (min-width: 480px) {
		.show {
			max-width:60%;
}
	}
