
@media screen and (max-width: 500px) {
	/*Change width of Buzzit title based on screen size*/
/*Larger text on mobile screens*/
		body {
			font-size:1.2em;
		}
		#answers {
		margin: 70px auto 40px;
		}
}

@media screen and (min-width: 600px) {
		.show {
			max-width:60%;
}
		}