@media screen and (max-width: 600px) {
		.button:hover { 
	background:	#FFFF00; 
	}
		#answers {
	height:190px;
	}
}

@media screen and (min-width: 600px) {
		.show {
			max-width:60%;
		}

		#answers {
	font-size:1.1em;
	margin: 250px auto 50px;
		}
}


